@media (max-width: 768px){
  .content {
    padding: 0px 21px;
    &.home-ball-1 {
      background-position: -23% 14%, 118% 61%, -29% 95%;
      background-size: 30%, 42%, 40%;
    }
  }
  .s-border-nav {
    position: absolute;
    top:87px;
    border-bottom: 2px solid $warning;
    width: 100%;
  }
  .home-image-bg {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg');
    background-position: center 55vh;
    background-size: 80%;
  }
  .home-image {
    background-position: center 35vh;
  }
  .top {
    right: 6%;
    top: 88%;
    z-index: 99;
  }
  .btn {
    padding: 15px 20px;
    border-radius: 25px;
  }
  .header {
    padding-top: 10vh;
    justify-content: start;
  }
  .text-title {
    font-size: 32px;
  }
  .introduce {
    align-items: center;
    justify-content: center;
  }
  .introduce-p-title-margin {
    text-align: center;
    line-height: 1.5;
  }
  .flex-row {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .l-program-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
  }
  .text-left {
    text-align: center;
  }
  .l-program-ul {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .l-card-content-program {
  }
  .l-comment {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }
  .s-l-comment-none {
    display: none;
  }
  h3 {
    font-size: 28px;
  }
  .home-end-img {
    padding-top: 230px;
    background-size: cover;
    background-position: center;
  }
  .margin-b-48 {
    margin-bottom: 24px;
  }
  .s-margin-b-60 {
    margin-bottom: 60px;
  }
}